/* -----------------------------------------------------1. General */

* {
    /* Code referenced from: https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior */
    scroll-behavior: smooth;
    /* ./code referenced from: https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior */
    font-size: 10px;
}

hr {
    margin: 3.2rem 0;
    padding: 1.7rem;
    color: rgba(0,0,0,.15);
}

audio {
    outline: none;
}

figure {
    margin: 0;
}

input {
    padding: 1.2rem;
    margin: .6rem 0 .4rem;
    line-height: normal;
    box-sizing: border-box;
}

textarea {
    min-height: 10rem;
    padding: 1.2rem;
    margin: .6rem 0 .4rem;
    background-color: #fafafa;
    line-height: normal;
    box-sizing: border-box;
}

.wrapper {
    margin: auto;
    max-width: 102rem;
    padding: 7.9rem 3.2rem;
}

.quote-wrapper {
    text-align: center;
    margin: auto 0;
    font-style: italic;
    font-size: 3rem;
    font-weight: 400;
    padding: 1.7rem;
}

.section-heading {
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.5rem;
    letter-spacing: .05rem;
}

/* -----------------------------------------------------1.1. Typography */

body, p, h3, h4 {
    font-size: 1.8rem;
}

body {
    font-family: proxima-nova, sans-serif;
    font-weight: normal;
}

p {
    line-height: 1.5rem;
}

h3 {
    font-weight: bold;
    letter-spacing: .2rem;
    text-transform: uppercase;
    line-height: 1.2rem;
}

h4 {
    margin: 1.5rem 0;
    font-weight: bold;
    line-height: 1.5rem;
}

h5 {
    font-size: 1.3rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

a {
    color: #ff8400;
}

a:hover {
    text-decoration: none;
    color: #ce6a00;
}

.uppercase {
    text-transform: uppercase;
}

/* -----------------------------------------------------2. Components */
/* -----------------------------------------------------2.1. Buttons */

.button-md {
    border: .2rem solid #c41230;
    background-color: #c41230;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1.5rem 3.4rem;
    margin: 1.7rem;
    letter-spacing: .2rem;
}

.button-md:hover {
    background-color: #fff;
    color: #c41230;
}

.form-submit-button {
    font-weight: 300;
    padding: 1rem 2.5rem;
    margin: 1rem 0;
    text-transform: uppercase;
    letter-spacing: .2rem;
    background-color: #c41230;
    color: #fff;
    box-shadow: 0 .2rem 0 0 #9f0f27;
    border: solid .2rem #c41230;
    border-radius: .3rem;
    transition: all .3s;
}

.form-submit-button:hover {
    color: #c41230;
    background-color: #fff;
    box-shadow: 0 0 0 0 #fff;
    transform: translateY(.5rem);
}

/* -----------------------------------------------------2.2. Jumbotrons */

.jumbotron {
    width: 100%;
    max-width: 95.6rem;
    display: block;
    position: relative;
    background: transparent;
    color: #fff;
    text-align: center;
    margin: auto;
    padding: 19rem 0;
    animation: grow ease-in-out 3s;
    animation-fill-mode: forwards;
}

.lead {
    font-family: 'Montserrat', sans-serif;
    font-size: 4.7rem;
    font-weight: 400;
    line-height: .3rem;
    display: block;
    white-space: nowrap;
}

.jumbotron-header {
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 7.2rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.7rem;
    letter-spacing: .3rem;
    margin-bottom: 0;
}

.jumbotron-cta {
    background-color: #c41230;
    color: #fff;
    font-weight: 700;
    font-size: 2.3rem;
    letter-spacing: .2rem;
    text-align: center;
    line-height: 1rem;
    text-transform: uppercase;
    padding: .95rem 1.65rem;
    box-shadow: 0 0.2em 0 0 #9f0f27;
    display: inline-block;
    margin: 0;
    border-radius: .3rem;
    transition: all .4s;
}

.jumbotron-cta:hover {
    background-color: #e00d30;
    color: #fff;
    box-shadow: 0 0 0 0 #9f0f27;
    transform: translatey(.6rem);
    border-radius: .5rem;
}

/* -----------------------------------------------------2.3. Forms */

.form-control {
    background-color: #fafafa;
}

/* -----------------------------------------------------3. Navigation */

.navigation {
    padding: 0;
}

.navbar {
    height: 9rem;
    background-color: #ff8400;
}

.navbar #horizontal-nav {
    display: inline-block;
}

.navbar #vertical-nav {
    display: none;
}

nav button.openbtn {
    display: none;
}

.sidebar {
    display: none;
}

.logo {
    background: url("../assets/images/logo/RBP-logo-black small cropped.png") left center no-repeat;
    width: 5rem;
    height: 5rem;
    background-size: contain;
    padding: 0 2rem;
    margin: -20% 0 0 1rem;
}

nav ul li a {
    color: #fff;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    padding: .75rem 1rem;
    line-height: 4.4rem;
}

nav ul li a:hover {
    color: rgb(236, 236, 236);
}

.nav-cta {
    border: #fff .2rem solid;
    border-radius: .3rem;
    padding: 1.95rem;
    line-height: 2rem;
    transition: all .25s;
}

nav ul li a.nav-cta:hover {
    color: #ff8400;
    background-color: #fff;
    transition: all .25s;
}

/* -----------------------------------------------------4. Hero Image */
.hero-image-container {
    padding: 0;
    background: url(../images/sunstudio/TempleLaneLowRes-2-1024x683.jpg) no-repeat center center;
    background-size: cover;
    height: 60rem;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.opaque-overlay {
    background-color: rgba(0, 0, 0, .3);
    height: 60rem;
    width: 100%;
}

/* -----------------------------------------------------5. Footer */

#prefooter {
    background-color: #f7f7f7;
    text-align: center;
    padding: 1.7rem;
}

#top {
    border-bottom: .1rem solid rgb(158, 158, 158);
}

#top:hover {
    border-bottom: .1rem solid #000;
}

.social-links a {
    font-size: 2.5rem;
    margin: 0 1rem;
}

#footer {
    background-color: #1f1f1f;
    color: rgba(255, 255, 255, .4);
    text-align: center;
    padding: 6.4rem 3.2rem;
}

#footer h5 {
    display: inline-block;
    padding: 2rem 2rem;
}

#footer h5 a {
    color: #fff;
}

#footer-email {
    color: rgba(255, 255, 255, 0.8);
    white-space: nowrap;
    font-size: 1.4rem;
    letter-spacing: .2rem;
}

#footer-copyright {
    text-align: center;
}


/* ------------------------------------------------------------------------------------6. Index.html */
/* -----------------------------------------------------6.1 Quote and Listen */

#quote-and-listen-wrapper {
    padding-bottom: 6.9rem;
}

#quote-and-listen-wrapper blockquote::before {
    display: inline;
    color: #000;
    opacity: 1;
    font-size: 1rem;
    font-weight: 400;
}

#quote-and-listen-wrapper blockquote::after {
    content: close-quote;
    font-size: 1rem;
}

#quote-and-listen-wrapper .quote-wrapper blockquote {
    line-height: 1.15rem;
    transform: translateY(4.9rem);
    margin: auto 10%;
}

.quote-wrapper {
    width: auto;
}

.listen-wrapper {
    text-align: center;
}

.listen-heading h2 {
    text-align: center;
}

audio {
    margin: 1.1rem;
    width: 80%;
}

/* -----------------------------------------------------6.2. Artist Quotes */
#artist-quotes {
    padding-bottom: 6.9rem;
}

.artist-quote {
    font-family: "Crimson Pro", sans-serif;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: .036rem;
    color: #534d46;
    /* animation: appear .8s ease-in-out; */
}

.quote-source {
    text-align: center;
    font-family: "Crimson Pro", sans-serif;
    font-size: 2rem;
    opacity: 0.5;
}

blockquote::before {
    content: open-quote;
    display: block;
    color: #534d46;
    opacity: 0.3;
    font-size: 2.5rem;
    font-weight: 600;
}

blockquote::after {
    content: close-quote;
    font-size: 0;
}

/* -----------------------------------------------------6.3 Studios */

.studio-one {
    margin-top: 10rem;
    padding-bottom: 1.7rem;
}

.sun-photo {
    background: url(../assets/images/sunstudio/TempleLaneLowRes-2-1024x683.jpg) no-repeat;
    height: 94%;
    width: 100%;
    background-size: cover;
    box-sizing: border-box;
    margin: 0 1.7rem 1.7rem 3.4rem;
}

.studio-one-photo {
    background: url(../assets/images/studioone/STUDIOONE_01-1-min.jpg) no-repeat;
    height: 94%;
    width: 100%;
    background-size: cover;
    margin: 0 1.7rem 1.7rem 3.4rem;
}

/* -----------------------------------------------------6.4. Contact Form */



/* -----------------------------------------------------6.5. Media Queries */
/* -----------------------------------------------------6.5.1. >= 993px */
/* ------------------------------------------6.5.1.1. Quote and Listen */
@media screen and (min-width: 993px) {
    .pre-photo-text {
        display: block;
        margin-top: 1.7rem;
    }

    .post-photo-text {
        display: none;
    }
}

/* -----------------------------------------------------6.5.2. <= 992px */

@media screen and (max-width: 992px) {
    /* ------------------------------------------6.5.2.1. Nav */
    
    nav button.openbtn {
        display: block;
    }

    .logo {
        margin: 9% 0 0 1rem;
    }

    ul#horizontal-nav.list-inline {
        display: none;
    }

    .navbar #vertical-nav {
        display: inline;
    }

    /* Code referenced from w3: https://www.w3schools.com/howto/howto_js_collapse_sidebar.asp*/
    .sidebar {
        display: initial;
        height: 100vh;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        overflow-x: hidden;
        background-color: #ff8400;
        color: #fff;
        padding-top: 5rem;
        transition: .5s;
    }

    .sidebar a {
        padding: .8rem .8rem .8rem 3.2rem;
        font-size: 2rem;
        color: #fff;
        display: block;
        transition: .3s;
        white-space: nowrap;
    }

    .sidebar a:hover {
        color: #f1f1f1;
      }

    .sidebar .closebtn {
        font-size: 3.6rem;
        color: #fff;
        position: relative;
        left: 62%;
        margin: 0;
        padding: 0;
    }

    .openbtn {
        font-size: 2.7rem;
        width: 6rem;
        height: 6rem;
        cursor: pointer;
        background-color: #ff8400;
        color: white;
        border: none;
        padding: 1rem 1rem;
        margin-right: .5rem;
      }

      button:focus {
        outline: none;
    }
    /* ./code referenced from w3: https://www.w3schools.com/howto/howto_js_collapse_sidebar.asp*/
    
    /* ------------------------------------------6.5.2.2. Hero Image */
    .jumbotron {
        padding: 19rem 0;
        max-width: 96rem;
    }

    .lead {
        font-size: 3.5rem;
    }

    .jumbotron-header {
        font-size: 6rem;
    }

    .jumbotron-cta {
        font-size: 1.9rem;
        line-height: 1.4rem;
        padding: .85rem 1.4rem;
    }
    
    /* ------------------------------------------6.5.2.3. Quote and Listen */
    #quote-and-listen-wrapper .quote-wrapper blockquote {
        margin: 0;
    }
    
    /* ------------------------------------------6.5.2.4. Studios */
    .sun-photo {
        height: 40rem;
        margin: 0;
    }   
        
    .studio-one-photo {
        height: 40rem;
        width: 100%;
        display: flex;
        margin: 0;
    }

    .pre-photo-text {
        display: none;
    }

    .post-photo-text {
        display: block;
        margin-top: 1.7rem;
    }
}

/* -----------------------------------------------------6.5.3. <= 768px */

@media screen and (max-width: 768px) {
    /* ------------------------------------------6.5.3.1. Hero Image */
    .hero-image-container {
        height: 45rem;
    }

    .jumbotron {
        padding: 14rem 1rem;
    }

    .lead {
        font-size: 3.5rem;
    }

    .jumbotron-header {
        font-size: 5rem;
    }

    .jumbotron-cta {
        font-size: 1.7rem;
    }
    
    /* ------------------------------------------6.5.3.2. Quote and Listen */
    #quote-and-listen-wrapper .quote-wrapper blockquote {
        transform: translateY(0);
    }

    #quote-and-listen-wrapper .quote-wrapper {
        margin: 0 0 5rem 0;
        justify-content: center;
        display: flex;
        flex-direction: column;
        transform: translateY(3.2rem);
    }

    audio {
        display: block;
        align-self: center;
        margin: 1.4rem auto;
    }
    /* ./quote and listen */
}

/* -----------------------------------------------------6.5.4. <= 576px */
@media screen and (max-width: 576px) {
    /* ------------------------------------------6.5.4.1. General */
    .wrapper {
        padding: 7rem 1rem;
    }
    
    /* ------------------------------------------6.5.4.2. Hero Image */
    .hero-image-container {
        height: 35rem;
    }

    .jumbotron {
        padding: 12.5rem 1rem;
    }

    .lead {
        font-size: 1.8rem;
    }

    .jumbotron-header {
        font-size: 3rem;
    }

    .jumbotron-cta {
        font-size: 1.3rem;
    }
    
    /* ------------------------------------------6.5.4.3. Quote and Listen */
    #quote-and-listen-wrapper .quote-wrapper {
        margin: 0 0 5rem 0;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    #quote-and-listen-wrapper .quote-wrapper blockquote {
        line-height: 1.15rem;
        transform: translateY(-3rem);
        margin: auto;
    }

    .quote-wrapper {
        width: auto;
    }

    .listen-wrapper {
        display: flexbox;
        text-align: center;
    }
    
    audio {
        margin: .8rem auto ;
    }
    /* ------------------------------------------6.5.4.4. Studios */
    .sun-photo {
        height: 21.5rem;
        margin: 0;
    }   
    
    .studio-one {
        margin-top: 5rem;
    }

    .studio-one-photo {
        height: 22rem;
        margin: 0;
    }   
    
    /* ------------------------------------------6.5.4.5. Footer */
    #footer h5 {
        font-size: 1.2rem;
        text-align: center;
    }

    h5#footer-email {
        font-size: 1.1rem;
        padding: 2rem 0;
    }
}


/* ------------------------------------------------------------------------------------7. Studios.html */
/* -----------------------------------------------------7.1. Hero Image */
.studios-hero-image-container {
    padding: 0;
    background: url(../assets/images/misc/Mics_Vox_Blurred.jpg) no-repeat center center;
    background-size: cover;
    height: 60rem;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.studios-jumbotron {
    margin: 0 auto;
    padding: 10rem 0;
}

.studios-jumbotron .lead {
    line-height: initial;
}

/* -----------------------------------------------------7.2. Studios */
.sun-photo-1 {
    background: url(../assets/images/sunstudio/TempleLaneLowRes-2-1024x683.jpg) no-repeat center center;
    background-size: cover;
    height: 50rem;
    margin-bottom: 1.7rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

#studios-studio-one-wrapper {
    margin-top: 7.9rem;
}

.studio-one-photo-1 {
    background: url(../assets/images/studioone/STUDIOONE_01-1-min.jpg) no-repeat center center;
    background-size: cover;
    height: 50rem;
    margin-bottom: 1.7rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.gallery-thumbnails {
    text-align: center;
    margin-bottom: 1.7rem;
}

.gallery-thumbnails img {
    height: 9rem;
    opacity: .5;
    transition: .3s;
}

.gallery-thumbnails img:hover {
    opacity: 1;
}

/* -----------------------------------------------------7.3. Media Queries */
/* -----------------------------------------------------7.3.1. <= 768px */
@media screen and (max-width: 768px) {
    .studios-hero-image-container {
        height: 50rem;
    }

    .sun-photo-1 {
        height: 40rem;
    }

    .studio-one-photo-1 {
        height: 40rem;
    }
}

/* -----------------------------------------------------7.3.2. <= 576px */
@media screen and (max-width: 576px) {
    .studios-hero-image-container {
        height: 39rem;
    }

    .studios-hero-image-container .lead {
        font-size: 2.7rem;
    }

    .sun-photo-1 {
        height: 20rem;
    }

    .gallery-thumbnails img {
        height: 4.5rem;
    }

    .studio-one-photo-1 {
        height: 20rem;
    }

    .button-sm {
        margin: 1.7rem .5rem;
    }
}

/* ------------------------------------------------------------------------------------8. Artists.html */
/* -----------------------------------------------------8.1. Hero Image */
.artists-hero-image-container {
    padding: 0;
    background: url(../assets/images/misc/artists-image-min.webp) no-repeat center center;
    background-size: cover;
    height: 50rem;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.artists-jumbotron {
    padding: 14rem;
}

/* -----------------------------------------------------8.2. Artist Images */
.artist-image {
    display: block;
    height: 55rem;
    margin-top: 10.2rem;
    position: relative;
}

#ae-mak {
    background: url(../assets/images/artists/AE\ MAK.jpg) no-repeat center center;
    background-size: contain;
    margin-top: 0;
}

#greg-clifford {
    background: url(../assets/images/artists/Greg\ Clifford.jpg) no-repeat center center;
    background-size: contain;
    margin-top: 0;
}

#bjh {
    background: url(../assets/images/artists/Barry\ Jay\ Hughes\ Logo.png) no-repeat center center;
    background-size: contain;
}

#white-trash {
    background: url(../assets/images/artists/White\ Trash\ Logo.jpg) no-repeat center center;
    background-size: contain;
}

#eoin-coogan {
    background: url(../assets/images/artists/Eoin\ Coogan.jpg) no-repeat center center;
    background-size: contain;
}

#sambo-drumz {
    background: url(../assets/images/artists/Dreaming\ of\ Jupiter.jpg) no-repeat center center;
    background-size: contain;
}

#ultitune {
    background: url('../assets/images/artists/Ultitune\ -\ Here\'s\ to\ You.jpg') no-repeat center center;
    background-size: contain;
}

#fionn-lynch {
    background: url(../assets/images/artists/Keywest_Bandlogo.png) no-repeat center center;
    background-size: contain;
}

#top-shelf {
    background: url(../assets/images/artists/Top\ Shelf.jpg) no-repeat center center;
    background-size: contain;
    height: 32rem;
    margin-top: 13rem;
    margin-bottom: 3.7rem;
}

#abi-and-the-bandit {
    background: url(../assets/images/artists/Abi_Rec-min.jpg) no-repeat center center;
    background-size: contain;
    height: 32rem;
    margin-top: 13rem;
    margin-bottom: 3.7rem;
}

#and-many-more {
    margin: 3.4rem;
    margin-top: 6.8rem;
    font-size: 4rem;
}

#mentors {
    margin: 6.8rem 0;
    align-items: left;
}

.mentors-heading {
    margin-bottom: 1.7rem;
}

/* -----------------------------------------------------8.3. Media Queries */
/* -----------------------------------------------------8.3.1. <= 768px */
@media screen and (max-width: 768px) {
    .artists-hero-image-container {
        height: 40rem;
    }

    .artists-jumbotron {
        padding: 11rem;
    }

    .artist-image {
        height: 40rem;
        margin-top: 5rem;
    }

    #and-many-more h5 {
        font-size: 2.2rem;
    }

    #top-shelf {
        height: 23rem;
        margin-top: 8rem;
    }

    #abi-and-the-bandit {
        height: 23rem;
        margin-top: 8rem;
    }
}

/* -----------------------------------------------------8.3.2. <= 576px */
@media screen and (max-width: 576px) {
    .artists-hero-image-container {
        height: 30rem;
    }

    .artists-jumbotron {
        padding: 9rem;
    }

    .artists-wrapper {
        padding: 2.2rem;
    }

    .artist-image {
        height: 35rem;
        margin-top: 5rem;
    }

    #greg-clifford {
        margin-top: 5rem
    }

    #and-many-more h5 {
        font-size: 2.2rem;
    }

    #fionn-lynch {
        height: 23rem;
    }

    #top-shelf {
        height: 23rem;
        margin-top: 8rem;
    }

    #abi-and-the-bandit {
        height: 23rem;
        margin-top: 8rem;
    }
}

/* ------------------------------------------------------------------------------------9. Contact.html */
/* -----------------------------------------------------9.1. Hero Image */
.contact-hero-image-container {
    padding: 0;
    background: url(../assets/images/sunstudio/TempleLaneLowRes-22-1024x683.jpg) no-repeat center center;
    background-size: cover;
    height: 40rem;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

#contact-overlay {
    height: 40rem;
    padding: 0;
}

.jumbotron-text-wrapper {
    padding: 0;
    width: 100%;
    height: 100%;
}

.contact-hero-image-container h1 {
    position: absolute;
    top: 40%;
    left: 10%;
    right: 10%;
}

/* -----------------------------------------------------9.2. Media Queries */
/* -----------------------------------------------------9.2.1. <= 768px */
@media screen and (max-width: 768px) {
    .contact-hero-image-container {
        height: 40rem;
    }

    .contact-hero-image-container h1 {
        position: absolute;
        top: 40%;
        left: 10%;
        right: 10%;
    }
}

/* -----------------------------------------------------9.2.2. <= 576px */
@media screen and (max-width: 576px) {
    .contact-hero-image-container {
        height: 25rem;
    }
    
    .contact-hero-image-container h1 {
        position: absolute;
        top: 20%;
        left: 10%;
        right: 10%;
    }

    .contact-wrapper {
        padding: 3.5rem 1rem;
    }
}

/* -----------------------------------------------------10. Animations */
@keyframes grow {
    from {
        transform: scale(0.9);
    }

    to {
        transform: scale(1);
    }
}

/* @keyframes appear {
    from {
        opacity: 0;
        transform: translateX(25%);
    }

    to {
        opacity: 1;
        transform: translate(0%);
    }
} */