/* ================
Table of Contents

1. General
    1.1. Typography
2. Components
    2.1. Buttons
    2.2 Jumbotrons
    2.3 Forms
3. Navigation
4. Hero Image
5. Quote and Listen
6. Artist Quotes
7. Studios
8. Contact Form
9. Footer
10. Media Queries
    10.1. <= 992px
    10.2. <= 768px
    10.3. <= 576px
11. Studios.html
12. Artists.html
================= */

/* -----------------------------------------------------1. General */

* {
    /* Code referenced from: https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior */
    scroll-behavior: smooth;
    /* ./code referenced from: https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior */
}

hr {
    margin: 32px 0px;
    padding: 17px;
    color: rgba(0,0,0,.15);
}

input {
    padding: 12px;
    margin: 6px 0 4px;
    line-height: normal;
    box-sizing: border-box;
}

textarea {
    min-height: 100px;
    padding: 12px;
    margin: 6px 0 4px;
    background-color: #fafafa;
    line-height: normal;
    box-sizing: border-box;
}

.wrapper {
    margin: auto;
    max-width: 1020px;
    padding: 79px 32px;
}

.quote-wrapper {
    text-align: center;
    margin: auto 0;
    font-style: italic;
    font-size: 30px;
    font-weight: 400;
    padding: 17px;
}

.section-heading {
    padding-top: 17px;
    padding-bottom: 17px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: .05em;
}

/* -----------------------------------------------------1.1. Typography */

body, p, h3, h4 {
    font-size: 18px;
}

body {
    font-family: proxima-nova, sans-serif;
    font-weight: normal;
}

p {
    line-height: 1.5em;
}

h3 {
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1.2em;
}

h4 {
    margin: 15px 0;
    font-weight: bold;
    line-height: 1.5em;
}

h5 {
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

a {
    color: #ff8400;
}

a:hover {
    text-decoration: none;
    color: #ce6a00;
}

.uppercase {
    text-transform: uppercase;
}

/* -----------------------------------------------------2. Components */
/* -----------------------------------------------------2.1. Buttons */

.button-md {
    border: 2px solid #c41230;
    background-color: #c41230;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 34px;
    margin: 17px;
    letter-spacing: 2px;
}

.button-md:hover {
    background-color: #fff;
    color: #c41230;
}

.form-submit-button {
    font-weight: 300;
    padding: 10px 25px;
    margin: 10px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #c41230;
    color: #fff;
    box-shadow: 0 2px 0 0 #9f0f27;
    border: solid 2px #c41230;
    border-radius: 3px;
    transition: all .3s;
}

.form-submit-button:hover {
    color: #c41230;
    background-color: #fff;
    box-shadow: 0 0 0 0 #fff;
    transform: translateY(5px);
}

/* -----------------------------------------------------2.2. Jumbotrons */

.jumbotron {
    width: 100%;
    max-width: 956px;
    display: block;
    position: relative;
    background: transparent;
    color: #fff;
    text-align: center;
    margin: auto;
    padding: 190px 0;
}

.lead {
    font-family: 'Montserrat', sans-serif;
    font-size: 47px;
    font-weight: 400;
    line-height: .3em;
    display: block;
    white-space: nowrap;
}

.jumbotron-header {
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.7em;
    letter-spacing: 3px;
    margin-bottom: 0;
}

.jumbotron-cta {
    background-color: #c41230;
    color: #fff;
    font-weight: 700;
    font-size: 23px;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1em;
    text-transform: uppercase;
    padding: .95em 1.65em;
    box-shadow: 0px 0.2em 0px 0px #9f0f27;
    display: inline-block;
    margin: 0;
    border-radius: 3px;
    transition: all .4s;
}

.jumbotron-cta:hover {
    background-color: #e00d30;
    color: #fff;
    box-shadow: 0px 0px 0px 0px #9f0f27;
    transform: translatey(6px);
    border-radius: 5px;
}

/* -----------------------------------------------------2.3. Forms */

.form-control {
    background-color: #fafafa;
}

/* -----------------------------------------------------3. Navigation */

.navigation {
    padding: 0;
}

.navbar {
    height: 90px;
    background-color: #ff8400;
}

.navbar #horizontal-nav {
    display: inline-block;
}

.navbar #vertical-nav {
    display: none;
}

nav button.openbtn {
    display: none;
}

.sidebar {
    display: none;
}

.logo {
    background: url("/assets/images/logo/RBP-logo-black small cropped.png") left center no-repeat;
    width: 50px;
    height: 50px;
    background-size: contain;
    padding: 0px 20px;
    margin: -20% 0 0 10px;
}

nav ul li a {
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: .75em 1em;
    line-height: 4.4em;
}

nav ul li a:hover {
    color: rgb(236, 236, 236);
}

.nav-cta {
    border: #fff 2px solid;
    border-radius: 3px;
    padding: px 19.5px;
    line-height: 2em;
    transition: all .25s;
}

nav ul li a.nav-cta:hover {
    color: #ff8400;
    background-color: #fff;
    transition: all .25s;
}

/* -----------------------------------------------------4. Hero Image */
.hero-image-container {
    padding: 0;
    background: url(/assets/images/sunstudio/TempleLaneLowRes-2-1024x683.jpg) no-repeat center center;
    background-size: cover;
    height: 600px;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.opaque-overlay {
    background-color: rgba(0, 0, 0, .3);
    height: 600px;
    width: 100%;
}


/* ------------------------------------------------------------------------------------Index.html */
/* -----------------------------------------------------5. Quote and Listen */

#quote-and-listen-wrapper {
    padding-bottom: 69px;
}

#quote-and-listen-wrapper blockquote::before {
    display: inline;
    color: #000;
    opacity: 1;
    font-size: 1em;
    font-weight: 400;
}

#quote-and-listen-wrapper blockquote::after {
    content: close-quote;
    font-size: 1em;
}

#quote-and-listen-wrapper .quote-wrapper blockquote {
    line-height: 1.15em;
    transform: translateY(49px);
    margin: auto 10%;
}

.quote-wrapper {
    width: auto;
}

.listen-wrapper {
    text-align: center;
}

.listen-heading h2 {
    text-align: center;
}

audio {
    margin: 11px;
    width: 80%;
}

/* -----------------------------------------------------6. Artist Quotes */
#artist-quotes {
    padding-bottom: 69px;
}

.artist-quote {
    font-family: "Crimson Pro", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: .36px;
    color: #534d46;
}

.quote-source {
    text-align: center;
    font-family: "Crimson Pro", sans-serif;
    font-size: 20px;
    opacity: 0.5;
}

blockquote::before {
    content: open-quote;
    display: block;
    color: #534d46;
    opacity: 0.3;
    font-size: 2.5em;
    font-weight: 600;
}

blockquote::after {
    content: close-quote;
    font-size: 0;
}

/* -----------------------------------------------------7. Studios */

.studio-one {
    margin-top: 100px;
    padding-bottom: 17px;
}

.sun-photo {
    background: url(/assets/images/sunstudio/TempleLaneLowRes-2-1024x683.jpg) no-repeat;
    height: 94%;
    width: 100%;
    background-size: cover;
    box-sizing: border-box;
    margin: 0 17px 17px 34px;
}

.studio-one-photo {
    background: url(/assets/images/studioone/STUDIOONE_01-1-min.jpg) no-repeat;
    height: 94%;
    width: 100%;
    background-size: cover;
    margin: 0 17px 17px 34px;
}

/* -----------------------------------------------------8. Contact Form */



/* -----------------------------------------------------9. Footer */

#prefooter {
    background-color: #f7f7f7;
    text-align: center;
    padding: 17px;
}

#top {
    border-bottom: 1px solid rgb(158, 158, 158);
}

#top:hover {
    border-bottom: 1px solid #000;
}

.social-links a {
    font-size: 25px;
    margin: 0 10px;
}

#footer {
    background-color: #1f1f1f;
    color: rgba(255, 255, 255, .4);
    text-align: center;
    padding: 64px 32px;
}

#footer h5 {
    display: inline-block;
    padding: 20px 20px;
}

#footer h5 a {
    color: #fff;
}

#footer-email {
    color: rgba(255, 255, 255, 0.8);
    white-space: nowrap;
    font-size: 14px;
    letter-spacing: 2px;
}

#footer-copyright {
    text-align: center;
}

/* -----------------------------------------------------10. Media Queries */

@media screen and (min-width: 993px) {
    .pre-photo-text {
        display: block;
        margin-top: 17px;
    }

    .post-photo-text {
        display: none;
    }
}

/* -----------------------------------------------------10.1. <= 992px */

@media screen and (max-width: 992px) {
    /* Nav */
    
    nav button.openbtn {
        display: block;
    }

    .logo {
        margin: 9% 0 0 10px;
    }

    ul#horizontal-nav.list-inline {
        display: none;
    }

    .navbar #vertical-nav {
        display: inline;
    }

    /* Code referenced from w3: https://www.w3schools.com/howto/howto_js_collapse_sidebar.asp*/
    .sidebar {
        display: initial;
        height: 100vh;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        overflow-x: hidden;
        background-color: #ff8400;
        color: #fff;
        padding-top: 50px;
        transition: .5s;
    }

    .sidebar a {
        padding: 8px 8px 8px 32px;
        font-size: 20px;
        color: #fff;
        display: block;
        transition: .3s;
    }

    .sidebar a:hover {
        color: #f1f1f1;
      }

    .sidebar .closebtn {
        font-size: 36px;
        color: #fff;
        position: relative;
        left: 62%;
        margin: 0;
        padding: 0;
    }

    .openbtn {
        font-size: 27px;
        width: 60px;
        height: 60px;
        cursor: pointer;
        background-color: #ff8400;
        color: white;
        border: none;
        padding: 10px 10px;
        margin-right: 5px;
      }

    #body {
        transition: margin-left .5s;
      }
    /* ./code referenced from w3: https://www.w3schools.com/howto/howto_js_collapse_sidebar.asp*/
    /* ./nav */
    
    /* Hero Image */
    .jumbotron {
        padding: 190px 0;
        max-width: 960px;
    }

    .lead {
        font-size: 35px;
    }

    .jumbotron-header {
        font-size: 60px;
    }

    .jumbotron-cta {
        font-size: 19px;
        line-height: 1.4em;
        padding: .85em 1.4em;
    }
    /* ./hero image */

    /* Quote and Listen */
    #quote-and-listen-wrapper .quote-wrapper blockquote {
        margin: 0;
    }
    /* ./quote and listen */

    /* Studios */
    .sun-photo {
        height: 400px;
        margin: 0;
    }   
        
    .studio-one-photo {
        height: 400px;
        width: 100%;
        display: flex;
        margin: 0;
    }

    .pre-photo-text {
        display: none;
    }

    .post-photo-text {
        display: block;
        margin-top: 17px;
    }
    /* ./studios */
}

/* -----------------------------------------------------10.2. <= 768px */

@media screen and (max-width: 768px) {
    /* Hero Image */
    .hero-image-container {
        height: 450px;
    }

    .jumbotron {
        padding: 140px 10px;
    }

    .lead {
        font-size: 35px;
    }

    .jumbotron-header {
        font-size: 50px;
    }

    .jumbotron-cta {
        font-size: 17px;
    }
    /* ./hero image */

    /* Quote and Listen */
    #quote-and-listen-wrapper .quote-wrapper blockquote {
        transform: translateY(0);
    }

    #quote-and-listen-wrapper .quote-wrapper {
        margin: 0px 0px 50px 0px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        transform: translateY(32px);
    }

    audio {
        display: block;
        align-self: center;
        margin: 14px auto;
    }
    /* ./quote and listen */
}

/* -----------------------------------------------------10.3. <= 576px */
@media screen and (max-width: 576px) {
    /* General */
    .wrapper {
        padding: 70px 10px;
    }
    /* ./general */
    
    /* Hero Image */
    .hero-image-container {
        height: 400px;
    }

    .jumbotron {
        padding: 140px 10px;
    }

    .lead {
        font-size: 18px;
    }

    .jumbotron-header {
        font-size: 30px;
    }

    .jumbotron-cta {
        font-size: 13px;
    }
    /* ./hero image */

    /* Quote and Listen */
    
    #quote-and-listen-wrapper .quote-wrapper {
        margin: 0px 0px 50px 0px;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    #quote-and-listen-wrapper .quote-wrapper blockquote {
        line-height: 1.15em;
        transform: translateY(-30px);
        margin: auto;
    }

    .quote-wrapper {
        width: auto;
    }

    .listen-wrapper {
        display: flexbox;
        text-align: center;
    }
    
    audio {
        margin: 8px auto ;
    }
    /* .quote and listen */

    /* Studios */
    .sun-photo {
        height: 215px;
        margin: 0;
    }   
    
    .studio-one {
        margin-top: 50px;
    }

    .studio-one-photo {
        height: 220px;
        margin: 0;
    }   
    /* ./studios */

    /* Footer */
    #footer h5 {
        font-size: 12px;
        text-align: center;
    }

    h5#footer-email {
        font-size: 11px;
        padding: 20px 0;
    }
    /* ./footer */
}


/* ------------------------------------------------------------------------------------11. Studios.html */
/* Hero Image */
.studios-hero-image-container {
    padding: 0;
    background: url(/assets/images/misc/Mics_Vox_Blurred.jpg) no-repeat center center;
    background-size: cover;
    height: 600px;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.studios-jumbotron {
    margin: 0 auto;
    padding: 100px 0;
}

.studios-jumbotron .lead {
    line-height: initial;
}
/* ./hero image */

/* Sun Studio */

.sun-photo-1 {
    background: url(/assets/images/sunstudio/TempleLaneLowRes-2-1024x683.jpg) no-repeat center center;
    background-size: cover;
    height: 500px;
    margin-bottom: 17px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

#studios-studio-one-wrapper {
    margin-top: 79px;
}

.studio-one-photo-1 {
    background: url(/assets/images/studioone/STUDIOONE_01-1-min.jpg) no-repeat center center;
    background-size: cover;
    height: 500px;
    margin-bottom: 17px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.gallery-thumbnails {
    text-align: center;
    margin-bottom: 17px;
}

.gallery-thumbnails img {
    height: 90px;
    opacity: .5;
    transition: .3s;
}

.gallery-thumbnails img:hover {
    opacity: 1;
}
/* ./sun studio */

/* Media Queries */
@media screen and (max-width: 768px) {
    .studios-hero-image-container {
        height: 500px;
    }

    .sun-photo-1 {
        height: 400px;
    }

    .studio-one-photo-1 {
        height: 400px;
    }
}

@media screen and (max-width: 576px) {
    
    .studios-hero-image-container {
        height: 390px;
    }

    .studios-hero-image-container .lead {
        font-size: 27px;
    }

    .sun-photo-1 {
        height: 200px;
    }

    .gallery-thumbnails img {
        height: 45px;
    }

    .studio-one-photo-1 {
        height: 200px;
    }

    .button-sm {
        margin: 17px 5px;
    }
}




/* ------------------------------------------------------------------------------------12. Artists.html */
.artists-hero-image-container {
    padding: 0;
    background: url(/assets/images/misc/artists-image-min.webp) no-repeat center center;
    background-size: cover;
    height: 500px;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.artists-jumbotron {
    padding: 140px;
}

.artist-image {
    display: block;
    height: 550px;
    margin-top: 102px;
    position: relative;
}

#ae-mak {
    background: url(/assets/images/artists/AE\ MAK.jpg) no-repeat center center;
    background-size: contain;
    margin-top: 0;
}

#greg-clifford {
    background: url(/assets/images/artists/Greg\ Clifford.jpg) no-repeat center center;
    background-size: contain;
    margin-top: 0;
}

#bjh {
    background: url(/assets/images/artists/Barry\ Jay\ Hughes\ Logo.png) no-repeat center center;
    background-size: contain;
}

#white-trash {
    background: url(/assets/images/artists/White\ Trash\ Logo.jpg) no-repeat center center;
    background-size: contain;
}

#eoin-coogan {
    background: url(/assets/images/artists/Eoin\ Coogan.jpg) no-repeat center center;
    background-size: contain;
}

#sambo-drumz {
    background: url(/assets/images/artists/Dreaming\ of\ Jupiter.jpg) no-repeat center center;
    background-size: contain;
}

#ultitune {
    background: url('/assets/images/artists/Ultitune\ -\ Here\'s\ to\ You.jpg') no-repeat center center;
    background-size: contain;
}

#fionn-lynch {
    background: url(/assets/images/artists/Keywest_Bandlogo.png) no-repeat center center;
    background-size: contain;
}

#top-shelf {
    background: url(/assets/images/artists/Top\ Shelf.jpg) no-repeat center center;
    background-size: contain;
    height: 320px;
    margin-top: 130px;
    margin-bottom: 37px;
}

#abi-and-the-bandit {
    background: url(/assets/images/artists/Abi_Rec-min.jpg) no-repeat center center;
    background-size: contain;
    height: 320px;
    margin-top: 130px;
    margin-bottom: 37px;
}

#and-many-more {
    margin: 34px;
    margin-top: 68px;
    font-size: 40px;
}

#mentors {
    margin: 68px 0;
    align-items: left;
}

.mentors-heading {
    margin-bottom: 17px;
}

/* ------------------------------------------------------------------------------------12. Contact.html */

.contact-hero-image-container {
    padding: 0;
    background: url(/assets/images/sunstudio/TempleLaneLowRes-22-1024x683.jpg) no-repeat center center;
    background-size: cover;
    height: 400px;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

#contact-overlay {
    height: 400px;
    padding: 0;
}

.jumbotron-text-wrapper {
    padding: 0;
    width: 100%;
    height: 100%;
}

.contact-hero-image-container h1 {
    position: absolute;
    top: 40%;
    left: 10%;
    right: 10%;
}