<section id="prefooter">
    <div class="row">
        <div class="col">
            <h4>
                <a id="top" href="#back-to-top" role="button">Back to Top</a>
            </h4>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="social-links">
                <a href="https://open.spotify.com/user/1197940750?si=3Mr314uNQG6RiTVHdEJhzA" target="_blank"
                   role="button"><i class="fab fa-spotify"></i></a>
                <a href="https://www.facebook.com/RichardByrneProductions/" target="_blank" role="button"><i
                        class="fab fa-facebook-f"></i></a>
                <a href="http://instagram.com/richardbyrneproductions" target="_blank" role="button"><i
                        class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/richardbyrnepro" target="_blank" role="button"><i
                        class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
</section>
<section id="footer">
    <div class="row">
        <div class="col text-center">
            <h5><a href="#" role="button">Terms and Conditions</a></h5>
            <h5><a href="#" role="button">Returns and Refunds</a></h5>
            <h5><a href="#" role="button">Cookie Policy</a></h5>
            <h5><a href="#" role="button">Privacy Policy</a></h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5 id="footer-email">hello@richardbyrneproductions.com</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p id="footer-copyright">Copyright © 2022 Richard Byrne Productions</p>
        </div>
    </div>
</section>