<div id="mySideBar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" aria-label="Close">&times;</a>
    <a class="navbar-text uppercase" href="{{ url_for('home') }}" role="button">Home</a>
    <a class="navbar-text uppercase" href="{{ url_for('studios') }}" role="button">Studios</a>
    <a class="navbar-text uppercase" href="{{ url_for('artists') }}" role="button">Artists</a>
    <a class="navbar-text uppercase" href="{{ url_for('blog_home') }}" role="button">Blog</a>
    <a class="navbar-text uppercase" href="{{ url_for('contact') }}" role="button">Request a Quote</a>
</div>